
main .container-fluid {
    background-color: #E6E6E6;
} /* conteiner pai */

main {
    background-color: #E6E6E6;
    font-family: 'Open Sans', sans-serif;
}

main .div0 { /*espaçamento do topo*/
    background-color: transparent;
    padding-top: 5px;
    height: 1px;
}

main .div1 {
    background-color: #B20000;
    border-radius: 5px 5px 0px 0px;
    height: 1px;
    padding: 10px;
} /*div cabeçalho*/



main .div2 {
    background-color: white;
    height: 128px;
    border-radius: 0px 0px 5px 5px;
}

main .tituloformulario {
    font-family: 'Open Sans', sans-serif;
    color: #B20000;
    height: 54%; /*implica na mudança (altura) do HR*/
}
main .tituloformulario p{
    height: 40%;
    overflow: hidden; /*interfere na permanencia do tamanho "fixo" da fonte, independentemente da responsividade que é submetido, ou seja: se ajusta a todas as telas e não salta para baixo*/
}

main .informacional p {
    padding-left: 4%;
    height: 40%;
    color: #0F7D48;
    overflow: hidden;/*interfere na permanencia do tamanho "fixo" da fonte*/
    background-color: transparent;
}

p{
    font-size: 15px;
    overflow: hidden;
}

main .tituloformulario h1 {
    padding-left: 4%;
}

main .tituloformulario p {
    padding-left: 4%;
}

main .div2 hr {
    background-color: #E6E6E6;
    border-radius: 1px;
    margin-top:10px;
}

.fixed-line {
 height: 2px;
 background-color: #000; /* Cor da linha */
}
main .tituloformulario p {
    color: black;
}

/*borda*/


/* Div Nome*/

main .div3 {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    height: 94px;
}

main .titulonome {
    font-family: 'Open Sans', sans-serif;
    color: #B20000;
    height: 1vh;
}

main .titulonome h1 {
    padding-left: 4%;
    padding-top: 2%;
    font-size: 20px;
    overflow: fixa;
    height: 10%;
    width: 100%;
}

main .titulonome p {
    padding-left: 4%;
}


main .titulonome p {
    color: black;
}

.c2{
    background-color: blue;
}

/*Div Formulario*/

main .div4 {
    background-color: white;
    height: 320px;
    border-radius: 5px 5px 5px 5px;
}

main .hr {
    background-color: rgb(54, 30, 75);
    border-radius: 0px 0px 0px 0px;
    height: 20%;
    margin-left: 4%;
    margin-right: 3%;
    margin-bottom: 10%;
}

main .hr hr{
    background-color: #E6E6E6;
}

main .todoform{
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(255, 255, 255);
    height: 40%;
}
main .dadosform{
    background-color: transparent;
}

main .disciplina input{
    border: 1 #B20000;
 
}

main .observacao {
    min-height: 40px; 
    max-height: 120px; 
    overflow: auto; 
    position: relative;
  }

main textarea::-webkit-scrollbar {
    width: 0.5em;
}

main textarea::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

main button{
    background-color: #B20000;
    color:white;
}

main .borda-vermelha {
    border-color: #B20000; 
  }

.placeholder-vermelho::placeholder {
    color: #B20000;
  }

.input-hidden {
    display: none;
}

span {
    display: none;
}

input.invisivel {
    cursor: none;
}
